In [ ]:

#Lambda Functions

#Parameters of a functions 

#Module 

#How to write a module

#OOPS

In [1]:
#Lambda function 


def Square(num):
    return num**2

In [3]:
Square(4)

16

In [5]:
sq=lambda x: x**2

In [6]:
sq(4)

16

In [7]:
si=lambda p,r,t: round((p*r*t)/100,2)

In [8]:
si(100,3,4)

12.0

In [ ]:
#name less

In [10]:
sequence=[3,5,6,7,8]

In [13]:
for each in map(lambda x: (x,x**3),sequence):
    print (each)

(3, 27)
(5, 125)
(6, 216)
(7, 343)
(8, 512)

In [14]:
isEven=lambda x: True if x%2==0 else False

In [16]:
isEven(2)

True

In [17]:
import pandas as pd

In [20]:
df=pd.read_csv('DetailsOfEmployees.csv')

In [22]:
df['Age'][1]=-32

/Users/apple/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df

     Fname   Lname  Height  Age   Mob
0     Yash  Saxena     6.1   33  8979
1      Sam   Malik     5.7  -32  9997
2     Saif    Khan     5.6   34  9643
3  Ashwini   Guler     5.9   30  1234

In [24]:
df['Age']=list(map(lambda x : abs(x),df['Age']))

In [25]:
df

     Fname   Lname  Height  Age   Mob
0     Yash  Saxena     6.1   33  8979
1      Sam   Malik     5.7   32  9997
2     Saif    Khan     5.6   34  9643
3  Ashwini   Guler     5.9   30  1234

In [26]:
df['ShortOrTall']=list(map(lambda x: "Short" if x<=5.7 else "Tall" , df['Height'] ))

     Fname   Lname  Height  Age   Mob ShortOrTall
0     Yash  Saxena     6.1   33  8979        Tall
1      Sam   Malik     5.7   32  9997       Short
2     Saif    Khan     5.6   34  9643       Short
3  Ashwini   Guler     5.9   30  1234        Tall

In [28]:
#Parameters of a functions

In [29]:
def Print(a,b,c):
    print ("Value of a =",a)
    print ("Value of b =",b)
    print ("Value of c =",c)

In [30]:
Print(11,22,33)

Value of a = 11
Value of b = 22
Value of c = 33

In [31]:
#change order of parameters 

Print(b=12,c=2,a=13)

Value of a = 13
Value of b = 12
Value of c = 2

In [34]:
Print(b=12,2,3)

SyntaxError: positional argument follows keyword argument (<ipython-input-34-8947aeb45f14>, line 1)

In [36]:
Print(2,b=12,3)

SyntaxError: positional argument follows keyword argument (<ipython-input-36-4fa0a3ac2a5e>, line 1)

In [37]:
Print(1,2,3,4)

TypeError: Print() takes 3 positional arguments but 4 were given

In [43]:
#Default Values to the parameters 

def Print(a,b,c=23,d=-999):
    print ("Value of a =",a)
    print ("Value of b =",b)
    print ("Value of c =",c)
    print ("Value of d =",d)

In [44]:
Print(1,2)

Value of a = 1
Value of b = 2
Value of c = 23
Value of d = -999

In [42]:
Print(11,22,33,44)

Value of a = 11
Value of b = 22
Value of c = 33
Value of d = 44

In [48]:
Print(a=1,b=3,d=-4)

Value of a = 1
Value of b = 3
Value of c = 23
Value of d = -4

In [51]:
default_value=-100
def Print(a=default_value,b=default_value,c=default_value,d=default_value):
    print ("Value of a =",a)
    print ("Value of b =",b)
    print ("Value of c =",c)
    print ("Value of d =",d)

In [52]:
Print()

Value of a = -100
Value of b = -100
Value of c = -100
Value of d = -100

In [53]:
#Variable length arguments 

def Print(a,b,c,d,*e):
    print ("Value of a =",a)
    print ("Value of b =",b)
    print ("Value of c =",c)
    print ("Value of d =",d)
    print ("Value of e =",e)

In [54]:
Print(11,22,33,44)

Value of a = 11
Value of b = 22
Value of c = 33
Value of d = 44
Value of e = ()

In [55]:
Print(11,22,33,44,55,66,77,88,99,100,'B','X',True,6.7)

Value of a = 11
Value of b = 22
Value of c = 33
Value of d = 44
Value of e = (55, 66, 77, 88, 99, 100, 'B', 'X', True, 6.7)

In [60]:
def Print(a,b,c,d,*e,**f):
    
    print ("Value of a =",a)
    print ("Value of b =",b)
    print ("Value of c =",c)
    print ("Value of d =",d)
    print ("Value of e =",e)
    print ("Value of f =",f)

In [63]:
Print(11,22,33,44,55,66,77,88,99,100,'B','X',True,6.7,name="Yash",age=32,city="Berlin")

Value of a = 11
Value of b = 22
Value of c = 33
Value of d = 44
Value of e = (55, 66, 77, 88, 99, 100, 'B', 'X', True, 6.7)
Value of f = {'name': 'Yash', 'age': 32, 'city': 'Berlin'}

In [76]:
def Function(*args,**kwargs):
    #print ("Sum of all values =",(sum(args)))
    #print ("Dictionary values are : ",kwargs)
    
    if kwargs['name']=="yash":
        print ("Sum of all values =",(sum(args)))
    else:
        print ("Sorry details not here ")

In [80]:
Function(1,2,3,4,5)

KeyError: 'name'

In [75]:
Function(1,2,3,name="a",3,4)

SyntaxError: positional argument follows keyword argument (<ipython-input-75-196a1e1a59b4>, line 1)

In [79]:
Function(name="yash")

Sum of all values = 0

In [81]:
import matplotlib.pyplot as plt

In [ ]:
#Create a module

In [83]:
import Calculator

In [84]:
Calculator.Add(223,33)

256

In [85]:
Calculator.Sub(23,54)

-31

In [86]:
Calculator.Mul(78,3)

234

In [87]:
Calculator.Divide(56,3)

18

In [88]:
import Interest

In [89]:
Interest.Interest(200,3,4)

24.0

In [91]:
from Calculator import Add

In [92]:
Add(45,43)

88

In [93]:
#References 

import Calculator as c

In [94]:
c.Add(444,33)

477

In [96]:
c.Sub(44,2)

42

In [97]:
import Interest as i

In [99]:
i.Interest(4500,2,3)

270.0

In [100]:
#Check for current working directory

import os

In [101]:
os.getcwd()

'/Users/apple/Desktop/data/DS 28th Oct'

In [102]:
import sys

In [103]:
sys.path

['/Users/apple/Desktop/data/DS 28th Oct',
 '/Users/apple/anaconda3/lib/python37.zip',
 '/Users/apple/anaconda3/lib/python3.7',
 '/Users/apple/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/apple/anaconda3/lib/python3.7/site-packages',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/apple/.ipython']

In [104]:
sys.path.append('/Users/apple/Desktop/module')

In [106]:
sys.path

['/Users/apple/Desktop/data/DS 28th Oct',
 '/Users/apple/anaconda3/lib/python37.zip',
 '/Users/apple/anaconda3/lib/python3.7',
 '/Users/apple/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/apple/anaconda3/lib/python3.7/site-packages',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/apple/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/apple/.ipython',
 '/Users/apple/Desktop/module']

In [107]:
import simpleinterest

In [108]:
simpleinterest.Interest(33,4,4)

5.28

In [109]:
import calculations

In [110]:
calculations.Add(44,44)

88

In [111]:
from calculations  import  Mul

In [112]:
Mul(44,44)

1936

In [113]:
import calculations as cc

In [114]:
cc.Add(442,2)

444

In [115]:
si = lambda p,n,r=2: (p*n*r)/100

In [116]:
si(300,4)

24.0

In [117]:
import simpleinterest

In [118]:
simpleinterest.Interest(100,3,4)

12.0

In [119]:
si = lambda p,n,r=2: (p*n*r)/100

In [120]:
si(p=100,n=3)

6.0

In [131]:
import SimpleInterest

In [132]:
SimpleInterest.si(p=100,n=3)

6.0

In [133]:
from importlib import reload

In [135]:
reload(SimpleInterest)

In [136]:
SimpleInterest.amt(p=100,n=3)

106.0

In [ ]:
#Procedural / Functional

#OOP

In [140]:
class Interest():
    
    def SI(self,p,r,t):
        return round ((p*r*t)/100,2)

In [141]:
i=Interest()

In [142]:
i.SI(100,3,4)

12.0