In [5]:

def EvenOdd(n):
    if n%2==0:
        return "even"
    else:
        return "odd"

In [6]:
num=int(input("Enter a Number :"))
EvenOdd(num)

Enter a Number :12

'even'

In [7]:
def SimpleInterest(p,r,t):
    si=(p*r*t)/100
    print("Simple Interest is :", si)

In [8]:
SimpleInterest(100,2,4)

Simple Interest is : 8.0

In [12]:
num=70
counter=0
    
for each in range(2,num):
    if num%each==0:
        counter+=1
if counter==0:
    print("prime")
else:
    print("not prime")

not prime

In [14]:
def IsPrime(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
           
        if counter==0: 
            return"not prime"

In [15]:
IsPrime(11)

'not prime'

In [16]:
def IsPrime(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
        if counter==0:
            return"not prime"

In [17]:
IsPrime(11)

'not prime'

In [22]:
def IsPrime(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
        if counter==0:
            msg=str(num)+"is Prime"
            return msg
        else:
            msg=str(num)+"is not prime"
            return"not prime"

In [23]:
IsPrime(11)

'11is Prime'

In [21]:
for each in range (int(input("Enter Lowerlimit :")),int(input("Enter Upper Limit: "))+1):
    print(IsPrime(each))

Enter Lowerlimit :1
Enter Upper Limit: 12
None
None
not prime
None
not prime
None
not prime
None
not prime
None
not prime
None

In [26]:
def IsPrime(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
        if counter==0:
            msg=str(num) +"is Prime"
            return msg
        else:
            msg=str(num) +"is not prime"
            return"not prime"

In [25]:
for each in range (int(input("Enter Lowerlimit :")),int(input("Enter Upper Limit: "))+1):
    print(IsPrime(each))

Enter Lowerlimit :1
Enter Upper Limit: 30
None
None
3is Prime
not prime
5is Prime
not prime
7is Prime
not prime
9is Prime
not prime
11is Prime
not prime
13is Prime
not prime
15is Prime
not prime
17is Prime
not prime
19is Prime
not prime
21is Prime
not prime
23is Prime
not prime
25is Prime
not prime
27is Prime
not prime
29is Prime
not prime

In [28]:
def Func(a,b):
    sq_a=a**2
    sq_b=b**2
    return sq_a,sq_b

In [29]:
Func(11,12)

(121, 144)

In [38]:
def reverse(s):
    return s[::-1]

def isPalindrome(s):
    rev=reverse(s)

if(s==rev):
    return True
return False

s = "malayalam"
ans = isPalindrome(s) 
  
if ans == 1: 
    print("Yes") 
else: 
    print("No")

SyntaxError: 'return' outside function (<ipython-input-38-93fe34edd9f6>, line 8)

In [40]:
def isPalindrome(st):
    if st==st[::-1]:
        return True
    else:
        return False

In [42]:
inp="NITIN"
isPalindrome(inp)

True

In [47]:
def isPalindrome(st):
    if st==st[::-1]:
        return True
    else:
        return False

In [48]:
inp="nitin"
isPalindrome(inp)

True

In [49]:
def isPalindrome(st):
    if st==st[::-1]:
        return True
    else:
        return False

In [50]:
inp="nitin"
isPalindrome(inp)

True

In [53]:
st="fox"

In [54]:
st[::-1]

'xof'

In [58]:
a="happy faces"
a[::-1]

'secaf yppah'

In [59]:
var="hello"

def Display():
    var="hi"
    print(var)

In [60]:
Display()

hi

In [61]:
numbers=[1,2,3,4,5]

[each**2 for each in numbers]

[1, 4, 9, 16, 25]

In [62]:
numbers=[6,7,8,9,10]
[each**2 for each in numbers]

[36, 49, 64, 81, 100]

In [66]:
num=[2,3,4,5,6]
[(each,each**2) if each%2==0 else (each,each**3) for each in num]

[(2, 4), (3, 27), (4, 16), (5, 125), (6, 36)]

In [67]:
num=[2,3,4,5,6,7,8]
[(each,each**2) if each%2==0 else (each,each**3)for each in num]

[(2, 4), (3, 27), (4, 16), (5, 125), (6, 36), (7, 343), (8, 64)]

In [69]:
for each in range(1,10):
    print(each)

1
2
3
4
5
6
7
8
9

In [76]:
str1="james"
str_list=list(str1)
str_list.reverse()
print(str_list)

['s', 'e', 'm', 'a', 'j']

In [77]:
str1="james"
str_list=list(str1)
str_list.reverse()
print(str_list)

['s', 'e', 'm', 'a', 'j']

In [78]:
range()

TypeError: range expected 1 arguments, got 0

In [79]:
number=[1,2,3,4,5]
sum(number)

15

In [80]:
#zip
name=['ram','sham','john']
age=[30,31,32]
city=['london','san francisco','new york']

In [81]:
list(zip(name,age,city))

[('ram', 30, 'london'),
 ('sham', 31, 'san francisco'),
 ('john', 32, 'new york')]

In [82]:
for each in zip(name,age,city):
    print(each)

('ram', 30, 'london')
('sham', 31, 'san francisco')
('john', 32, 'new york')

In [83]:
city

['london', 'san francisco', 'new york']

In [84]:
for each in city:
    print(each)

london
san francisco
new york

In [86]:
list(enumerate(city))

[(0, 'london'), (1, 'san francisco'), (2, 'new york')]

In [87]:
city

['london', 'san francisco', 'new york']

In [88]:
for each in city:
    print(each)

london
san francisco
new york

In [90]:
list(enumerate(city))

[(0, 'london'), (1, 'san francisco'), (2, 'new york')]

In [94]:
for index,value in enumerate(city):
    print(value)

london
san francisco
new york

In [97]:
SimpleInterest(10,2,4)

Simple Interest is : 0.8

In [103]:
map(SimpleInterest,[100,2,4],[200,4,6],[300,6,8])

In [105]:
sq=lambda x: x**2

In [106]:
sq(8)

64

In [107]:
sq=lambda x:x**2

In [108]:
sq(2)

4

#default value to the parameters

In [3]:
def Print(a,b,c=2,d=23):
    print("Value of a=",a)
    print("Value of a=",b)
    print("Value of a=",c)
    print("Value of a=",d)

In [4]:
Print(1,2)

Value of a= 1
Value of a= 2
Value of a= 2
Value of a= 23

In [6]:
def Print(a,b,c=21,d=11):
    print("The value of a=",a)
    print("The value of a=",b)
    print("The value of a=",c)
    print("The value of a=",d)

In [7]:
Print(1,3)

The value of a= 1
The value of a= 3
The value of a= 21
The value of a= 11

In [10]:
default_value=-999
def Print(a=default_value,b=default_value,c=default_value,d=default_value):
    print("The value of a=",a)
    print("The value of b=",b)
    print("The value of c=",c)
    print("The value of d=",d)

In [11]:
Print()

The value of a= -999
The value of b= -999
The value of c= -999
The value of d= -999

In [14]:
def Print(a,b,c,d,*e,**f):
    print("The vlaue of a=",a)
    print("The value of b=",b)
    print("The value of c=",c)
    print("The value of d=",d)
    print("The value of e=",e)
    print("The value of f=",f)

In [15]:
Print(11,22,33,44)

The vlaue of a= 11
The value of b= 22
The value of c= 33
The value of d= 44
The value of e= ()

In [17]:
Print(11,22,33,44,1,2,3,4,5,'e','r','t')

The vlaue of a= 11
The value of b= 22
The value of c= 33
The value of d= 44
The value of e= (1, 2, 3, 4, 5, 'e', 'r', 't')

In [22]:
Print(11,22,33,44,1,2,3,4,name='aish',age=23)

TypeError: Print() got an unexpected keyword argument 'name'

In [23]:
def Print(a,b,c,d,*e,**f):
    print("The vlaue of a=",a)
    print("The value of b=",b)
    print("The value of c=",c)
    print("The value of d=",d)
    print("The value of e=",e)
    print("The value of f=",f)

In [24]:
Print(11,22,33,44,1,2,3,4,name='aish',age=23)

The vlaue of a= 11
The value of b= 22
The value of c= 33
The value of d= 44
The value of e= (1, 2, 3, 4)
The value of f= {'name': 'aish', 'age': 23}

In [36]:
def Function(*args,**kwargs):
    print("The value of a=",(sum(args)))
    print("The value of b=",kwargs)

In [37]:
Function (12,13,14,15,name="Anju")

The value of a= 54
The value of b= {'name': 'Anju'}

In [56]:
def Function(*args,**kwargs):
    
    if kwagrs['name']=="Anju":      
        print("The sum of all values",(sum(args)))
    else:
        print("Sorry the values are not correct")

In [57]:
Function(1,23,3,13,name="Anju")

NameError: name 'kwagrs' is not defined

In [58]:
#create a module

In [64]:
import Calclation

In [65]:
Calclation.Add(2,3)

5

In [66]:
Calclation.Sub(21,45)

-24

In [67]:
import sys

In [68]:
sys.path

['C:\\Users\\vinayak.lakeshri\\Python Edureka Codes',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\python37.zip',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\DLLs',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3',
 '',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\vinayak.lakeshri\\AppData\\Local\\Continuum\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\vinayak.lakeshri\\.ipython']