In [1]:
l1=[1,2,3,4]

In [ ]:
#Functions : What are functions 

#How do we write a function 

#Scope of a variable wrt a function

#List Comprehensions 

#Lambda Functions

#In built Functions and user defined functions 

#Parameters of a functions 

#Module 

#How to write a module

In [2]:
#Functions : What are functions 
#Block of code performing a specific task


num=int(input("Enter a number : "))

if num%2==0:
    print ("Even")
else:
    print ("Odd")

Enter a number : 34
Even

In [9]:
def EvenOrOdd(n):
    if n%2==0:
        print ( "Even")
    else:
        print ("Odd")

In [10]:
num=int(input("Enter a number : "))

response=EvenOrOdd(num)

Enter a number : 23
Odd

In [11]:
response

In [22]:
def SimpleInterestAndAmount(p,r,t):
    si=(p*r*t)/100
    #print ("Simple Interest: ",si)
    return [si,p+si]

In [24]:
p=100
r=2
t=4
response=SimpleInterestAndAmount(p,r,t)

In [25]:
response

[8.0, 108.0]

In [26]:
si,amt=response

In [27]:
si

8.0

In [28]:
amt

108.0

In [29]:
a,b,c=[1,2,3]

In [30]:
a

1

In [31]:
b

2

In [32]:
c

3

In [35]:
num=71
counter=0

for each in range(2,num):
    if num%each==0:
        counter+=1
if counter==0:
    print ("Prime")
else:
    print ("Not Prime")

Prime

In [51]:
def IsPrime(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
    if counter==0:
        msg=str(num)+" is Prime"
        return msg
    else:
        msg=str(num)+" is not Prime"
        return msg
    
    
def IsPrimeV2(num):
    counter=0
    for each in range(2,num):
        if num%each==0:
            counter+=1
    if counter==0:
        return (num,True)
    else:
        return False

In [52]:
IsPrimeV2(11)

True

In [54]:
n1=int(input("Enter lower limit : "))
n2=int(input("Enter upper limit: "))
for each in range(n1,n2+1):
    response=IsPrimeV2(each)
    if response:
        print (each)

Enter lower limit : 11
Enter upper limit: 30
11
13
17
19
23
29

In [57]:
def Functio(a,b):
    sq_a=a**2
    sq_b=b**2
    return [sq_a,sq_b]

In [58]:
Functio(11,12)

[121, 144]

In [ ]:
String="NITIN"

Pallindrome 
NITIN

NAMAN

Function : IsPallindrome
string as input 
True if string is pallindrome 
False if string is not pallindrome

In [77]:
def IsPallindrome(st):
    if st==st[::-1]:
        return True 
    else:
        return False

In [60]:
inp="NAMAN"
IsPallindrome(inp)

True

In [62]:
a="fox"

In [63]:
a[::-1]

'xof'

In [67]:
a="happy faces"

In [70]:
a[::3]

'hpfe'

In [71]:
a[-1]

's'

In [72]:
a[-2]

'e'

In [73]:
a[-3]

'c'

In [74]:
a[-11]

'h'

In [75]:
a

'happy faces'

In [76]:
a[::-1]

'secaf yppah'

In [78]:
numbers=[1,2,3,4,5]

In [79]:
numbers[::-1]

[5, 4, 3, 2, 1]

In [86]:
#Scope of a variable wrt a function


var="Hello" #global scope 


def Display():
    var2="World"  #Local Scope
    print (var,var2)

In [87]:
Display()

Hello World

In [88]:
var2

NameError: name 'var2' is not defined

In [89]:

var="Hello" #global scope 


def Display():
    var="Hi"  #Local Scope
    print (var)

In [90]:
Display()

Hi

In [93]:
#List Comprehensions 


numbers=[1,2,3,4,5]

sq=[each**2 for each in numbers]
sq

[1, 4, 9, 16, 25]

In [95]:
#find square of only even numbers 

[(each,each**2) for each in numbers if each%2==0]

[(2, 4), (4, 16)]

In [97]:
#find square of even numbers and cube of odd number 

[(each,each**2) if each%2==0 else (each,each**3) for each in numbers]

[(1, 1), (2, 4), (3, 27), (4, 16), (5, 125)]

In [ ]:
[each**2 for each in numbers]


print ("Hello World")

In [98]:
[IsPrime(each) for each in range(11,31)]

['11 is Prime',
 '12 is not Prime',
 '13 is Prime',
 '14 is not Prime',
 '15 is not Prime',
 '16 is not Prime',
 '17 is Prime',
 '18 is not Prime',
 '19 is Prime',
 '20 is not Prime',
 '21 is not Prime',
 '22 is not Prime',
 '23 is Prime',
 '24 is not Prime',
 '25 is not Prime',
 '26 is not Prime',
 '27 is not Prime',
 '28 is not Prime',
 '29 is Prime',
 '30 is not Prime']

In [ ]:
#In built Functions and user defined functions

In [105]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [106]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [108]:
for each in range(10):
    print (each)

0
1
2
3
4
5
6
7
8
9

In [116]:
STR="ABCD"
str_list=list(STR)
str_list.reverse()
rev_str="".join(str_list)
print(rev_str)

DCBA

In [115]:
Python2

range  : list 

xrange :generator (looping)
    
    
Python 3

range  :generator (looping)

In [ ]:
zip
enumerate
sum
map
filter 
reduce


int
list
tuple
dict
set
range
print
type
len
input

In [ ]:
range()  #Shift+tab

In [118]:
#sum 

sum(numbers)

15

In [152]:
names=('Yash','Sam','Arpit','Garvit')
age=[33,34,32,"na"]
city=['Berlin','Hamburg','London','Delhi']

In [153]:
list(zip(names,age,city))

[('Yash', 33, 'Berlin'),
 ('Sam', 34, 'Hamburg'),
 ('Arpit', 32, 'London'),
 ('Garvit', 'na', 'Delhi')]

In [131]:
for each in zip(names,age,city):
    print (each)

('Yash', 33, 'Berlin')
('Sam', 34, 'Hamburg')
('Arpit', 32, 'London')

In [132]:
city

['Berlin', 'Hamburg', 'London', 'Delhi']

In [133]:
for each in city :
    print (each)

Berlin
Hamburg
London
Delhi

In [137]:
list(enumerate(city,20))

[(20, 'Berlin'), (21, 'Hamburg'), (22, 'London'), (23, 'Delhi')]

In [151]:
for index,value in enumerate(city) :
    print (index)
    print (value)

0
Berlin
1
Hamburg
2
London
3
Delhi

In [ ]:
map(function, sequence)

In [155]:
IsPrime(11)

'11 is Prime'

In [156]:
numbers=[10,4,3,5,6,2,7]

In [158]:
list(map(IsPrime,numbers))

['10 is not Prime',
 '4 is not Prime',
 '3 is Prime',
 '5 is Prime',
 '6 is not Prime',
 '2 is Prime',
 '7 is Prime']

In [159]:
[IsPrime(each) for each in numbers]

['10 is not Prime',
 '4 is not Prime',
 '3 is Prime',
 '5 is Prime',
 '6 is not Prime',
 '2 is Prime',
 '7 is Prime']

In [165]:
list(map(IsPrimeV2,numbers))

[False, False, True, True, False, True, True]

In [161]:
numbers

[10, 4, 3, 5, 6, 2, 7]

In [166]:
list(filter(IsPrimeV2,numbers))

[3, 5, 2, 7]

In [167]:
list(filter(IsPrimeV2,range(11,31)))

[11, 13, 17, 19, 23, 29]

In [168]:
SimpleInterest(100,3,4)

Simple Interest:  12.0

12.0

In [174]:
list(map(SimpleInterestAndAmount,[(100,3,4),(200,3,2),(300,4,5)]))

[[12.0, 112.0], [12.0, 212.0], [60.0, 360.0]]

In [173]:
def SimpleInterestAndAmount(params):
    p,r,t=params
    si=(p*r*t)/100
    #print ("Simple Interest: ",si)
    return [si,p+si]